<div ng-controller="homeController">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <!-- <loading></loading> -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Team Blog</h1>
                        <hr class="small">
                        <span class="subheading">”Anyone can start a blog, but the real test is getting readers.”</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container" ng-init="editVisible = false;">
        <div class="row">
            <div ng-include="'view/home-post-list.html'"></div>
        </div>
    </div>

    <hr>
</div>    