<div ng-controller="recoverPasswordController">
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Recover Password</h1>
                        <hr class="small">
                        <!-- <span class="subheading">Have questions? I have answers (maybe).</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <notification alert-data="notification"></notification>
                <p>Recover Password</p>
                <form name="forgotPassword" novalidate ng-submit="recoverPassword()">
                    <div class="row control-group" ng-class="{ 'has-error' : forgotPassword.nPassword.$invalid && !forgotPassword.nPassword.$pristine }">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>New Password</label>
                            <input type="password" name="nPassword" placeholder="New Password" class="form-control" ng-model="nPassword" ng-minlength="8" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
                            <p ng-show="forgotPassword.nPassword.$error.pattern" class="help-block">Password should be atleast 8 characters long and should contain one number,one character and one special character.</p>
                        </div>
                    </div>
                    <div class="row control-group" ng-class="{ 'has-error' : (forgotPassword.cPassword.$invalid && !forgotPassword.cPassword.$pristine) || (forgotPassword.cPassword.$viewValue !== forgotPassword.nPassword.$viewValue) }">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Confirm Password</label>
                            <input type="password" name="cPassword" placeholder="Confirm Password" class="form-control" ng-model="cPassword" ng-minlength="8" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
                            <p ng-show="forgotPassword.cPassword.$error.pattern" class="help-block">Password should be atleast 8 characters long and should contain one number,one character and one special character.</p>
                            <p ng-show="forgotPassword.cPassword.$viewValue != forgotPassword.nPassword.$viewValue" class="help-block has-error">Password doesn't match.</p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-default" ng-disabled="forgotPassword.$invalid">Confirm <i class="fa fa-cog fa-spin" ng-if="isBusy"></i></button> &nbsp;&nbsp;
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
</div>
